:root {
  --select-color: #ffadfa;

  --success-color: #67C23A;
  --success-hover-color: #4bb50a;

  --warning-color: #E6A23C;
  --warning-hover-color: #e67b35;

  --danger-color: #F56C6C;
  --danger-hover-color: #f5322a;

  --info-color: #909399;
  --info-hover-color: #509980;
}
